<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>سامانه تحلیلی هواشناسی</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
</head>
<body>
    <div class="menu">
        <h1>🌍 پلتفرم تحلیلی هواشناسی</h1>
        <a href="weather_platform/contact">📨 تماس با ما (مهمان)</a>
        <a href="weather_platform/register">📝 ثبت‌نام کاربران</a>
        <a href="weather_platform/add_weather">🌦️ درج داده هواشناسی (مدیر/تحلیلگر)</a>
        <a href="weather_platform/about">ℹ️ درباره ما</a>
    </div>
</body>
</html>