<!-- web_based_programming_project/weather_platform/templates/message_list.html -->

{% include "_header.html" %}


{% include "_nav.html" %}

<!-- Table -->
<div class="card">
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>نام فرستنده</th>
                    <th>ایمیل</th>
                    <th>موضوع</th>
                    <th>متن پیام</th>
                    <th>وضعیت</th>
                    <th>تاریخ ارسال</th>
                </tr>
            </thead>
            <tbody>
                {{messages_rows}}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-20" style="color: #666;">
        📊 نمایش تمام پیام‌های ثبت شده در سیستم
    </div>
</div>
{% include "_footer.html" %}